/* ELEMENTS */

body {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border-radius: 6px;
  border-style: solid;
  border-width: 2px;
  font-weight: 700;
  padding: 8px 24px;
}

h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  line-height: 1;
  margin: 0;
}

h2 {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  line-height: 1;
  margin: 0;
}

p {
  line-height: 1.5;
}

/* OBJECTS */
header {
  background-color: #1f2937;
  color: white;
}

header a {
  color: white;
}

nav {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

nav ul {
  display: flex;
  margin-left: auto;
  gap: 30px;
}

nav a:hover {
  text-decoration: underline;
}

footer {
  background-color: #1f2937;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* COMPONENTS */

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

.hero {
  display: flex;
  gap: 40px;
  margin: 100px 0;
}

.hero p {
  color: #e5e7eb;
  font-size: 18px;
  margin-bottom: 28px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.hero-image {
  background-color: plum;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.info {
  padding: 60px 0;
  text-align: center;
}

.info-body {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 40px 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 160px;
}

.card .img {
  height: 160px;
  width: 160px;
  background-color: rgba(221, 160, 221, 0.261);
  border-radius: 16px;
}

.quote {
  background-color: #e5e7eb;
}

.quote-body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
  line-height: 1.3;
  padding: 110px;
}

.quote-signature {
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  padding-right: 40px;
}
.cta {
  color: white;
  padding: 80px 0;
}
.cta-box {
  background-color: #3882f6;
  border-radius: 8px;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cta-title {
  font-size: 20px;
  font-weight: 900;
}
.cta-body {
  color: #f9faf8c1;
}

/* UTILITIES */
.wrapper {
  padding: 0 40px;
  margin: 0 auto;
  max-width: 1000px;
}

.button_brand {
  color: white;
  background-color: #3882f6;
  border-color: #3882f6;
}

.button_brand:hover {
  background-color: #2a6bd5;
  border-color: #2a6bd5;
}

.button_outline-brand {
  color: white;
  background-color: transparent;
  border-color: white;
}

.button_outline-brand:hover {
  color: #3882f6;
  background-color: white;
  border-color: white;
}
